
/*** MENU ***/
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }

.sf-menu { line-height:	1.0; }

nav { float:right; }

.sf-menu li { float: left; background:url(../images/divider1.png) repeat-y 0 0; position:		relative; }

.sf-menu a { display: block; color:#3F3E3E; font-family: 'Fjalla One', sans-serif; text-transform:uppercase; font-size:14px; line-height:17px; padding: 34px 22px 28px 9px; position: relative; text-shadow: 0 1px 0 #fff; }

.sf-menu a:hover { color:#D73604; text-decoration: none; }

.sf-menu li span { position:absolute; top:0; transition: all 0.4s ease 0s; left:0; background:none; width:100%; height:0; }

.sf-menu li:hover span, .sf-menu li.current span, .sf-menu li.sfHover> span { background:none repeat scroll 0 0 #3F3F3F; height: 3px; }

.sf-menu li:hover a, .sf-menu li.current a, .sf-menu li.sfHover> a { text-decoration:none; }

.sf-menu ul { border: 1px solid rgba(0, 0, 0, 0.1); position: absolute; background: none repeat scroll 0 0 #fff; top: -999em; width: 152px; /* left offset of submenus need to match (see below) */ }

.sf-menu ul li { width:	100%; background:url(../images/divider2.png) repeat-x 0 bottom; }

.sf-menu ul li:last-child { background: none; }

.sf-menu ul a { display: block; transition: all 0.4s ease 0s; font-size:14px; line-height:17px; padding: 17px 9px; }

.sf-menu ul a:hover, .sf-menu ul li.sfHover > a { color:#D73604; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.sf-menu li:hover { visibility:		inherit; /* fixes IE7 'sticky bug' */ }

.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; top: 81px; /* match top ul list item height */ z-index:	99; }

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 154px; /* match ul width */ top:	0; }

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; /* match ul width */ top:	0; }

.sf-menu li.sub-menu:after { background: url("../images/indicator.png") no-repeat scroll 0 0 transparent; content: ""; display: block; height: 4px; right: 7%; margin-top: -1px; position: absolute; top: 48%; width: 5px; }

.sf-menu ul .sf-sub-indicator { right: 25px; top: 15px; }

/* Design for a width of 768px */
@media only screen and (max-width: 995px) {
}
 @media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .sf-menu {
display:none
}
 nav select {
 width: 100%;
}
 nav {
 float: none;
 margin-bottom: 16px;
}
}
 @media only screen and (max-width: 479px) {
 nav select {
 width: 100%;
}
 nav {
 float: none;
 margin-bottom: 16px;
}
}
