<footer class="main-wrapper main-wrapper-shadow">
  <div class="footer-1">
    <div class="container_12">
      <div class="wrapper">
        <!-- Text Widget & SOCIABLE -->
        <div class="grid_9">
          <!--Text Widget-->
          <h2>Contacts</h2>

          <p>По всем вопросам и предложениям Вы можете обратиться по контактам ниже:</p>
          <dl>
            <dd><span>E-mail:</span> arsemchik@gmail.com</dd>
            <dd><span>VK:</span> <a href="http://vk.com/arsemchik" class="link-1">arsemchik</a></dd>
            <dd><span>Skype:</span> aemchik</dd>
          </dl>
        </div>
        <div class="grid_3">
          <!--Text Widget-->
          <h2>Website</h2>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-2">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_12">
          <div class="policy">&copy;<%= Date.today.year %> - Emchik Arseny</div>
        </div>
      </div>
    </div>
  </div>
</footer>