<div class="main-wrapper">
  <!--==============================header=================================-->
  <header>
    <div class="inner-block">
      <h1><%= link_to('Emchik.by', posts_path, class: 'logo') %></h1>
      <div class="inner-block">
        <nav>
          <ul class="sf-menu responsive-menu">
            <li class = 'current'><span></span><a href= '<% posts_path %>'><i class="icon-comment-alt"></i> blog</a>
            </li>
            <li><span></span><a href= '<% posts_path %>'><i class="icon-star-empty"></i> labs</a>
            </li>
            <li><span></span><a href= '<% posts_path %>'><i class="icon-th"></i> archive</a>
            </li>
            <li><span></span><a href="about.html"><i class="icon-user"></i> About</a></li>
            <% if user_signed_in? %>
                <li>   <span></span>
                  <form method = "post">
                  <%= link_to('Logout', destroy_user_session_path, :method => 'delete')%>
                    </form>
                  <!--<a method = 'delete' href="/logout" rel="nofollow">Logout</a>-->
                </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </div>
    <div class="shadowdrop"></div>
  </header>
  <div class="header-title-blank main-wrapper-shadow"></div>
</div>

